[Unit]
Description=Wifi Start Service
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device



[Service]
Type=simple
RemainAfterExit=yes


ExecStart=/sbin/ip link set dev wlan0 up
ExecStart=/usr/sbin/wpa_supplicant -Dnl80211 -c/etc/wpa_supplicant/wpa_supplicant-wlan0.conf -iwlan0 &

ExecStop=/sbin/ip link set dev wlan0 down


[Install]
WantedBy=multi-user.target

